.section{
    padding: 50px 0px ;
    background-color: rgb(149, 149, 149);
}
.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;

}
.formdiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto auto;
}
.mail{
    width: 90%;
}
.btn{
    border: none;
    padding: 3px 20px;
}
.firstdiv img{
    width: 100%;
}
@media (max-width:998.98px) {
    .firstdiv img{
        display: none;
    }
    
}
